---
const { titulo, foto_url, foto_name, link } = Astro.props;
---

<!-- Card -->
<a href={link} class="block group w-[300px]">
  <div
    class="relative aspect-square overflow-hidden shadow-lg/50 group"
  >
    <img
      src={foto_url}
      alt={foto_name}
      class="w-full h-full object-cover transition-transform duration-300 group-hover:scale-105"
    />
    <div class="absolute bottom-0 w-full p-4">
      <h3
        class="text-lg font-secondary text-white text-center text-shadow-lg/10"
      >
        {titulo}
      </h3>
    </div>
  </div>
</a>
