---
const year = new Date().getFullYear();
---

<footer class="bg-verde text-white py-8">
  <div
    class="max-w-7xl mx-auto px-4 flex flex-col md:flex-row justify-between items-center gap-6"
  >
    <!-- Logo ou nome do site -->
    <div class="text-xl font-semibold font-primary">Kaledo Fotos</div>

    <!-- Direitos autorais -->
    <div class="text-sm  font-secondary text-center">
      © {year} Kaledo Fotos. <br />
      Todos os direitos reservados. <br />
      Site desenvolvido por
      <a
        href="https://linkedin.com/in/allan-de-lima-da-silva/"
        target="_blank"
        rel="noopener noreferrer"
        class="underline hover:text-white"
      >
        Allan de Lima da Silva
      </a>
    </div>
  </div>
</footer>
