---
import { CheckImageUrl } from "../lib/utils";
import Loader from "./Loader.astro";
import type { PaginaInicial } from "../interfaces/contentful";

const props = Astro.props as { home: PaginaInicial };
const { home } = props;

const hero_image = `${CheckImageUrl(home.fotosDoCarrossel[0].fields.file.url)}`;
---

<section id="Home" class="relative h-screen">
  <img
    id="hero_img"
    class="object-cover h-screen w-full"
    src={hero_image}
    alt=""
  />

  <Loader IdImg="hero_img" />

  <div
    class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 text-center"
  >
    <h1
      class="text-4xl font-bold text-white mb-[25rem] text-nowrap font-secondary text-shadow-lg/30"
    >
      {home.titulo}
    </h1>
  </div>
</section>
