---
const links = [
  { href: "/", label: "Início" },
  { href: "/ensaios", label: "Sobre Mim" },
  { href: "/gatos", label: "Ensaios" },
  { href: "/about", label: "Contato" },
];
---

<nav class="bg-none absolute top-0 left-0 w-full z-50 bg p-1">
  <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
    <div
      class="rounded-full sm:justify-self-center sm:justify-center h-16 items-center bg-none sm:bg-white/50"
    >
      <!-- Botão Mobile -->
      <button
        id="menu-toggle"
        class="sm:hidden inline-flex items-center p-4 text-preto rounded-full hover:bg-gray-100/50"
        aria-controls="mobile-menu"
        aria-expanded="false"
      >
        <svg
          class="w-8 h-8"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          viewBox="0 0 24 24"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M4 6h16M4 12h16M4 18h16"></path>
        </svg>
      </button>

      <!-- Links Desktop -->
      <div class="hidden sm:flex space-x-6">
        {
          links.map((link) => (
            <a
              href={link.href}
              class="text-preto py-5 px-5 rounded-full hover:bg-verde/50 transition duration-500 font-secondary"
            >
              {link.label}
            </a>
          ))
        }
      </div>
    </div>
  </div>

  <!-- Links Mobile -->
  <div
    id="mobile-menu"
    class="fixed inset-0 bg-white/95 z-40 flex flex-col items-center justify-center space-y-6 text-xl font-secondary text-preto
         opacity-0 pointer-events-none -translate-y-50 transition-all duration-1000 ease-in-out"
  >
    <!-- Botão Fechar -->
    <button
      id="menu-close"
      class="absolute top-9 left-4 p-2 text-preto hover:text-bordo"
      aria-label="Fechar menu"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="w-8 h-8"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M6 18L18 6M6 6l12 12"></path>
      </svg>
    </button>
    {
      links.map((link) => (
        <a
          href={link.href}
          class="block bg-white py-5 text-preto hover:bg-verde/70 font-secondary justify-self-center p-5 rounded-full"
        >
          {link.label}
        </a>
      ))
    }
  </div>
</nav>

<script is:inline>
  function toggleMenu(show) {
    const menu = document.getElementById("mobile-menu");

    if (!menu) return;

    if (show) {
      menu.classList.remove(
        "opacity-0",
        "pointer-events-none",
        "-translate-y-50"
      );
      menu.classList.add("opacity-100", "pointer-events-auto", "translate-y-0");
      document.body.classList.add("overflow-hidden");
    } else {
      menu.classList.add("opacity-0", "pointer-events-none", "-translate-y-50");
      menu.classList.remove(
        "opacity-100",
        "pointer-events-auto",
        "translate-y-0"
      );
      document.body.classList.remove("overflow-hidden");
    }
  }

  document.addEventListener("DOMContentLoaded", () => {
    const openBtn = document.getElementById("menu-toggle");
    const closeBtn = document.getElementById("menu-close");

    openBtn?.addEventListener("click", () => toggleMenu(true));
    closeBtn?.addEventListener("click", () => toggleMenu(false));
  });
</script>
