---
import fetchApi from "../lib/strapi";
import { CheckImageUrl } from "../lib/utils";
import type { SobreMim } from "../interfaces/sobreMim";
import { marked } from "marked";

const sobreMim: SobreMim = await fetchApi<SobreMim>({
  endpoint: "pagina-sobre-mim",
  query: {
    populate: "Foto",
  },
  wrappedByKey: "data",
});

const SobreMinText = marked.parse(sobreMim.Texto);
console.log("SobreMim data fetched:", SobreMinText);
---

<section
  id="SobreMin"
  class="bg-verde min-h-screen flex items-center justify-center"
>
  <div
    class="max-w-5xl mx-auto px-6 py-12 flex flex-col md:flex-row items-center gap-8 snap-center"
  >
    <!-- Imagem -->
    <div class="w-full md:w-1/2 flex justify-center">
      <img
        src={`${CheckImageUrl(sobreMim.Foto.url)}`}
        alt="Foto sobre mim"
        class="w-64 h-80 rounded-full object-cover shadow-lg/50 border-1 border-preto"
      />
    </div>

    <!-- Texto -->
    <div class="w-full md:w-1/2 px-4">
      <div
        class="markdown leading-relaxed text-justify font-secondary text-white"
        set:html={SobreMinText}
      />
    </div>
  </div>
</section>

<script define:vars={{ SobreMinText }}>
  console.log("SobreMim component loaded", SobreMinText);
</script>
