@import "tailwindcss";

@theme {
    --color-bordo: #590319;
    --color-bege-claro: #E1C38F;
    --color-bege-escuro: #91764E;
    --color-verde: #5A5D4C;
    --color-preto: #2C2C2C;

  }

.font-primary {
  font-family: "Aboreto", sans-serif;
}

.font-secondary {
  font-family: "Poppins", sans-serif;
}

html {
    scroll-behavior: smooth; }


.markdown h1 {
  font-size: var(--text-3xl)
  /* 1.875rem = 30px */
  ;
  line-height: var(--tw-leading, var(--text-3xl--line-height)
  /* calc(2.25 / 1.875) ≈ 1.2 */
  );
  --tw-font-weight: var(--font-weight-bold)
  /* 700 */
  ;
  font-weight: var(--font-weight-bold)
  /* 700 */
  ;
  margin-bottom: calc(var(--spacing) * 4)
  /* 1rem = 16px */
  ;
  font-family: "Aboreto", sans-serif;
}

.markdown h2 {
  /* Slightly larger than default, but lighter weight and using the secondary font */
  font-size: 1.75rem; /* ~28px */
  font-weight: 500; /* medium */
  margin-bottom: 0.5em;
  font-family: "Poppins", sans-serif; /* font-secondary */
  text-align: center;
}

.markdown h3 {
  /* Follow h2 style but smaller */
  font-size: 1.40rem; 
  font-weight: 500; /* medium */
  margin-bottom: 0.5em;
  font-family: "Poppins", sans-serif;
  text-align: center;
}

.markdown p {
  margin-bottom: 1em;
  line-height: 1.6;
  white-space: pre-line;
}

.markdown ul {
  list-style-type: disc;
  padding-left: 1.5rem;
  margin-bottom: 1em;
}

.markdown li {
  margin-bottom: 0.5em;
}